li {
  list-style: none;
}
button {
  padding: 10px 20px;
  border-style: none;
  border-radius: 5px;
  margin: 0px 10px;
}
button:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.list-item {
  display: flex;
  justify-content: center;
}
.active {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  border: 2px solid white;
  color: white;
}
